html {
    text-align: center;
}

.logo {
    margin: 48px 1em;
}

.search {
    text-shadow: 1px 2px 2px 1px;
}

.search-bar {
    width: 500px;
    height: 2em;
    margin: 1em 1em;
}

.search-button {
    margin: 1em 0.5em;
    min-height: 2em;
}

.navbar, .footer {
    display: flex;
    position: fixed;
    justify-content: flex-end;
}

.navbar {
    top: 0;
    width: 100%;
}

.footer {
    bottom: 0;
    background-color: darkgrey;
    width: 100%;
}

.navbar ul, .footer ul {
    list-style-type: none;  /* Removes list markers*/
    margin: 0;              /* Remove margin and padding default values*/
    padding: 0;
    overflow: hidden;
    display: inline-flex;   /* keeps items horizontally */
}

li a {
    display: block;
    padding: 14px 8px;
    text-align: center;
    text-decoration: none;
}

li {
    padding: 0px 8px 0px 0px; /* Add small margin to right side of screen */
}